# ==========================================
# Compilación y empaquetado (Java / Maven)
# ==========================================
target/
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

# ==========================================
# Entornos de Desarrollo (IDEs)
# ==========================================
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache/
bin/

# Visual Studio Code
.vscode/
*.code-workspace

# ==========================================
# Archivos del Sistema Operativo
# ==========================================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini